body {
    background-color: rgb(240, 240, 240) !important;
}
#mynav {
    background-color: rgb(203, 68, 74) !important;
}

#img_index {
    background-color: rgb(255, 150, 150) !important;
    width: auto;
    height: auto;
    border-radius: 5rem;
}

.card{
    border-radius: 20px !important;
}

#btn_forms {
    background-color:rgb(41, 43, 44) !important;
}

.nav-link::after{
    content: '' !important;
    display: block !important;
    width: 0 !important;
    height: 2px !important;
    background: #fff !important;
    transition: width .3s !important;
}
.nav-link:hover::after{
    width: 100% !important;
    transition: width .3s !important;
}
.btn:hover{
    color: rgb(238, 255, 0) ;
}