{% extends '../base.html' %}

{% load static %}

{% block title %}{{ news.title }}{% endblock title %}

{% block content %}
<div class="card mb-4 border shadow-lg">
    <div class="card-header">
        <h3 class="text-justify">{{ news.title }}</h3>
    </div>
    <div class="card-body">
        <div class="row my-1 py-2">
            <div class="col-12">
                <img src="{{ news.img.url }}" class="img-fluid rounded w-100 mx-auto"><br>
            </div>    
        </div>

        <div class="row my-2 py-2">
            <div class="col">
                <h5 class="card-title font-weight-bold px-4">{{ news.title }}</h5>
                <p class="text-muted px-4">{{ news.created }}</p>
                <hr class="border-bottom shadow-sm">
            </div>
        </div>

        <div class="row mb-2 py-2">
            <div class="col-10 offset-1">
                <p class="card-text text-justify">

                    {# content 1 #}                    
                    <p class="text-justify">{{ news.content1 }}</p>
                    {% if news.imgC1 %} 
                        <img src="{{ news.imgC1.url }}" class="img-fluid card mb-3 w-75 mx-auto" alt="img-content"> 
                    {% endif %}

                    {# content 2 #}
                    <p class="text-justify">{{ news.content2 }}</p>
                    {% if news.imgC2 %} 
                        <img src="{{ news.imgC2.url }}" class="img-fluid card mb-3 w-75 mx-auto" alt="img-content"> 
                    {% endif %}

                    {# content 3 #}
                    <p class="text-justify">{{ news.content3 }}</p>
                    {% if news.imgC3 %} 
                        <img src="{{ news.imgC3.url }}" class="img-fluid card mb-3 w-75 mx-auto" alt="img-content"> 
                    {% endif %}

                    {# content 4 #}
                    <p class="text-justify">{{ news.content4 }}</p>
                    {% if news.imgC4 %} 
                        <img src="{{ news.imgC4.url }}" class="img-fluid card mb-3 w-75 mx-auto" alt="img-content"> 
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="{% url 'news:home' %}?page={{ current }}" class="btn btn-info btn-block">ย้อนกลับ</a>
            </div>
        </div>

    </div>
</div>
{% endblock content %}