{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% block title %}News{% endblock title %}

{% block content %}
<div class="card font shadow-sm mb-3">
    <h1 class="text-center card-header">ข่าวสาร</h1>
    <div class="d-flex flex-row flex-wrap justify-content-baseline mt-2 mb-0 px-4">
        <h5 class="m-1">ประเภทข่าว : </h5>
        <a href="{% url 'news:home' %}" class="btn btn-sm btn-secondary mx-2 mb-0 rounded-pill">ทั้งหมด</a>
        {% for cat in type_news.all %}
            <a href="{% url 'news:category' cat.id %}" class="btn btn-sm mx-2 mb-0 rounded-pill {% if cat.id == 1 %} btn-primary{% else %} btn-success {% endif %}">
                {{ cat.type_news|capfirst }}
            </a>
        {% endfor %}
    </div>
    <hr>
    <div class="container">
        <div class="row my-3">

            {# show news #}
            {% for n in news %}
                <div class="col-4 my-2" id="card_news">
                    <a href="{% url 'news:detail' n.slug %}?p={{ news.number }}" class="text-decoration-none text-dark">
                        <div class="card h-100">
                            <img src="{{ n.img.url }}" class="img-fluid card" alt="img-news">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div>
                                    <p class="card-title text-start">
                                        <b>{{ n.title }}</b>
                                    </p>
                                    <p class="card-text d-flex flex-wrap align-items-center">
                                        <p class="font-weight-bold d-inline">ประเภทข่าว : </p>
                                        {% for i in n.type_news.all %}
                                            <a href="{% url 'news:category' i.id %}" class="btn badge {% if i.id == 1 %}badge-primary{% else %}badge-success{% endif %}">{{ i.type_news }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                                <p class="card-text">
                                    <small class="text-muted d-block">{{ n.created|naturaltime }}</small>
                                    <a href="{% url 'news:detail' n.slug %}?p={{ news.number }}" class="card-link">อ่านเพิ่มเติม</a>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>

        {# Pagination Page of News #}
        <div class="row d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {# previous button #}
                    <li class="page-item {% if news.has_previous != True %}disabled{% endif %}">
                        {# previous_page_number will throw 'None' if not has previous page #}
                        {% if news.previous_page_number != None %}
                            <a class="page-link" href="{% url 'news:home' %}?page={{ news.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                        {% else %}
                            <a class="page-link" href="{% url 'news:home' %}" tabindex="-1" aria-disabled="true">Previous</a>
                        {% endif %}
                    </li>

                    {# count number of page in news ex. page 1, 2, 3 etc. #}
                    {% for i in news.paginator.page_range %}
                        {# check current of page #}
                        <li class="page-item {% if news.number == i %}active{% endif %}">
                            <a class="page-link" href="{% url 'news:home' %}?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {# next button #}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'news:home' %}?page=2">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}