{# django messages #}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}secondary{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}