{% extends './base.html' %}
{% block title %}เปลี่ยนรหัสผ่าน{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col offset-1">
            <h1>เปลี่ยนรหัสผ่าน</h1>
            {# show messages #}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error'%}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            {# form #}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="old_password">รหัสผ่านเดิม</label>
                    <input type="password" name="old_password" id="old_password" class="form-control" aria-describedby="passwordHelpBlock">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </small>
                </div>
                <div class="form-group">
                    <label for="new_password">รหัสผ่านใหม่</label>
                    <input type="password" name="new_password" id="new_password" class="form-control" aria-describedby="passwordHelpBlock">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </small>
                </div>
                <div class="form-group">
                    <label for="confirm_password">ยีนยันรหัสผ่านใหม่</label>
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control" aria-describedby="passwordHelpBlock">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </small>
                </div>

                <button type="submit" class="btn btn-warning">เปลี่ยนรหัสผ่าน</button>
                <a href="{% url 'covid:edit_profile' %}" class="button mx-3">ยกเลิก</a>
            </form>

        </div>
    </div>
{% endblock content %}