{% extends './base.html' %} 
{% load crispy_forms_tags %}

{% block title %}แก้ไขข้อมูล{% endblock title %}

{% block content %}
    <h1>แก้ไขข้อมูลส่วนตัวของ {{ user.username }}</h1>
    <br>
    
    <div class="container">
    
        <form action="" method="post">
    
            {% csrf_token %}
            <table>
                {{ form|crispy }}
            </table>
    
            <button type="submit" class="btn btn-primary inline-block mx-3">อัพเดทข้อมูล</button>
            <a href="{% url 'covid:change_password' %}" class="button button-primary inline-block mx-3">เปลี่ยนรหัสผ่าน</a>
    
        </form>
    </div>


{% endblock content %}