{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark border-bottom shadow-sm mb-5">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="navbar-brand" href="{% url 'covid:home' %}"><img src="{% static 'img/icon.png' %}" width="35" height="35" class="d-inline-block align-top" alt="navbar">
                    Coronavirus Risk Assessment
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'covid:home' %}">หน้าหลัก</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'covid:assessment' %}">คำถามประเมินความเสี่ยง</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'news:home' %}">ข่าวสาร</a>
            </li>

            {# check login #}
            {% if user.is_authenticated %}
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="{% url 'covid:profile' %}">สวัสดี, <span class="font-weight-bold">{{ request.user.username }}</span></a>
                </li>

                {# check staff #}
                {% if user.is_staff %}
                    <li class="nav-item active">
                        <li class="nav-item active mx-2 bg-info card">
                            <a class="nav-link" href="http://127.0.0.1:8000/admin/" target="_blank">ผู้ดูแลระบบ</a>
                        </li>
                    </li>
                {% endif %}

                <li class="nav-item active">
                    <form action="{% url 'covid:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">ออกจากระบบ</button>
                    </form>
                </li>

            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'covid:register' %}">สมัครสมาชิก</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'covid:login' %}">เข้าสู่ระบบ</a>
                </li>
                
            {% endif %}
        </ul>
    </div>
</nav>