{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Profile{% endblock title %}

{% block content %}
{% include './_messages.html' %}
{% if msg %}
    <div class="alert alert-info text-center w-100">
        <button type="button" class="close span" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        ยินดีต้อนรับ <b>{{ user.username }}</b>
    </div>
{% endif %}
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h2>โปรไฟล์ของฉัน</h2>
                        <img src="{% static 'img/doctor-suit-full.png' %}" alt="profile-img" class="img-thumbnail w-50 border-0">
                        <div class="list-group my-2 w-100">
                            <a href="{% url 'covid:profile' %}" class="list-group-item list-group-item-action active py-1">ประวัติการประเมิน</a>
                            <a href="{% url 'covid:edit_profile' %}" class="list-group-item list-group-item-action py-1">ข้อมูลของฉัน</a> 
                            {% comment %} <a href="#" class="list-group-item list-group-item-action py-1">My Map</a>  {% endcomment %}
                            <div class="my-3 mt-4">
                                <form action="{% url 'covid:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger btn-sm">ออกจากระบบ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col border-left px-4">
                    {% comment %} <h1>ประวัติ</h1> {% endcomment %}
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-center">ครั้งที่</th>
                                <th scope="col" class="text-center">ผลลัพธ์</th>
                                <th scope="col">สร้างเมื่อ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if user_history %}
                                {% for i in user_history %}
                                    <tr>
                                        <th class="text-center">{{ forloop.revcounter }}</th>
                                        <td class="text-center">
                                            {% if i.prediction_result == '1' %}
                                                <p class="text-center text-warning">มีความเสี่ยง</p>
                                            {% else %}
                                                <p class="text-center text-success">ไม่มีความเสี่ยง</p>
                                            {% endif %}
                                        </td>
                                        <td>{{ i.created|naturaltime }} ({{ i.created }}) </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.alert').alert('close');
    </script>
{% endblock content %}