
{% extends '../base.html' %}

{% load static %}

{% block title %}Confirm{% endblock title %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="row mt-5 pt-5">
            <div class="col">
                <img src="{% static 'img/doctor-suit-full.png' %}"  class="img-fluid">
            </div>
            <div class="col align-self-center">
                <div class="card-body">
                    <center><h1>แบบฟอร์มประเมินความเสี่ยง COVID-19 ด้วยตนเองเบื้องต้น</h1><br>
                    <p>แบบฟอร์มนี้เป็นการประเมินความเสี่ยงเพียงเบื้องต้นโดยการประเมินนี้มีการเก็บข้อมูลโดยไม่ระบุตัวตนและโปรดอนุญาตให้เว็บไซต์นี้เข้าถึงตำแหน่งของท่านโดยการประเมินนี้มีการเก็บข้อมูลโดยไม่ระบุตัวตนและโปรดอนุญาตให้เว็บไซต์นี้เข้าถึงตำแหน่งของท่าน</p>
                    
                    <p id="demo"></p>
                    <script>
                        var x = document.getElementById("demo");
                        
                        function getLocation() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(showPosition);
                        } else { 
                            x.innerHTML = "Geolocation is not supported by this browser.";
                        }
                        }
                        
                        function showPosition(position) {
                        x.innerHTML = "Latitude: " + position.coords.latitude + 
                        "<br>Longitude: " + position.coords.longitude;
                        }
                    </script>
                    
                    <form action="{% url 'covid:assessment' %}">
                        <input type="checkbox" onclick="getLocation()" id="myCheck" name="test" required>
                        <span class="m-2">ฉันยอมรับและอนุญาตให้เข้าถึงตำแหน่ง</span>
                        <input a class="btn btn-primary my-2" type="submit" value="ทำแบบประเมินความเสี่ยง COVID-19">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}