{% extends '../base.html' %}

{% load static %}

{% block title %}Self Assessment{% endblock title %}

{% block content %}
<div class="alert alert-warning alert-dismissible fade show mx-auto" role="alert">
    <strong><u>โปรดอ่าน</u></strong> แบบฟอร์มประเมินความเสี่ยงนี้ใช้เทคนิคการทำเหมืองข้อมูลในการทำนายผลเบื้องต้นเท่านั้น <u>ไม่ใช่</u>เว็บแพทย์อย่างเป็นทางการ<br>
    <strong>เพื่อความแม่นยำ ควรตรวจที่โรงพยาบาลใกล้บ้านท่านอีกครั้ง</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div
<h3 class="text-center py-1">แบบฟอร์มประเมินความเสี่ยงไวรัส COVID-19 ด้วยตนเอง</h3>
<form action="{% url 'covid:predict' %}" method="post">
    {% csrf_token %}
    <div class="accordion" id="accordionExample">

    {# SECTION 1 Q1-10 #} 
        <div class="card">
            <div class="card-header bg-info" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <p class="text-white my-0"><span class="mx-2">คำถามชุดที่ 1:</span> ลักษณะของอาการเบื้องต้น</p>
                    </button>
                </h2>
            </div>
        {# Question1 #}
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body px-5">
                
                    <div class="container-fluid">
                        <h6>1. ท่านมีอุณหภูมิตั้งแต่ 37.5 องศาขึ้นไปหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question1" id="question1" value="1" required>
                            <label class="form-check-label" for="question1">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question1" id="question1" value="0" required>
                            <label class="form-check-label" for="question1">ไม่</label><br><br>
                        </div>
                        <hr>
                        
                        <h6>2. ท่านมีอาการเป็นไข้, ตัวร้อน หรือย่างใดอย่างหนึ่ง</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question2" id="question2" value="1" required>
                            <label class="form-check-label" for="question2">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question2" id="question2" value="0" required>
                            <label class="form-check-label" for="question2">ไม่</label><br><br>
                        </div>
                        <hr>
                        
                        <h6>3. ท่านมีอาการไอ, ไอแห้ง อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question3" id="question3" value="1" required>
                            <label class="form-check-label" for="question3">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question3" id="question3" value="0" required>
                            <label class="form-check-label" for="question3">ไม่</label><br><br>
                        </div>
                        <hr>
                        
                        <h6>4. ท่านมีอาการมีน้ำมูก, คัดจมูก-จาม หรือย่างใดอย่างหนึ่ง</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question4" id="question4" value="1" required>
                            <label class="form-check-label" for="question4">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question4" id="question4" value="0" required>
                            <label class="form-check-label" for="question4">ไม่</label><br><br>
                        </div>
                        <hr>

                        <h6>5. ท่านมีอาการเจ็บคอ, คอแห้ง, มีเสมหะ หรือย่างใดอย่างหนึ่ง</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question5" id="question5" value="1" required>
                            <label class="form-check-label" for="question5">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question5" id="question5" value="0" required>
                            <label class="form-check-label" for="question5">ไม่</label><br><br>
                        </div>
                        <hr>
                        
                        <h6>6. ท่านมีอาการอ่อนล้า, อ่อนแรง หรือย่างใดอย่างหนึ่ง</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question6" id="question6" value="1" required>
                            <label class="form-check-label" for="question6">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question6" id="question6" value="0" required>
                            <label class="form-check-label" for="question6">ไม่</label><br><br>
                        </div>
                        <hr>

                        <h6>7. ท่านมีอาการปวดเมื่อยร่างกาย, ครั่นเนื้อครั่นตัว หรืออ่อนเพลีย อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question7" id="question7" value="1" required>
                            <label class="form-check-label" for="question7">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question7" id="question7" value="0" required>
                            <label class="form-check-label" for="question7">ไม่</label><br><br>
                        </div>
                        <hr>
                        
                        <h6>8. ท่านมีอาการท้องเสีย, ท่องร่วง อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question8" id="question8" value="1" required>
                            <label class="form-check-label" for="question8">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question8" id="question8" value="0" required>
                            <label class="form-check-label" for="question8">ไม่</label><br><br>
                        </div>
                        <hr>
                        
                        <h6>9. ท่านมีอาการตาแดง, ปวดตา, เจ็บตา อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question9" id="question9" value="1" required>
                            <label class="form-check-label" for="question9">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question9" id="question9" value="0" required>
                            <label class="form-check-label" for="question9">ไม่</label><br><br>
                        </div>
                        <hr>
                        
                        <h6>10. ท่านมีอาการปวดศีรษะหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question10" id="question10" value="1" required>
                            <label class="form-check-label" for="question10">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question10" id="question10" value="0" required>
                            <label class="form-check-label" for="question10">ไม่</label><br><br>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    {# SECTION 2 Q11-17 #}
        <div class="card">
            <div class="card-header bg-info" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p class="text-white my-0"><span class="mx-2">คำถามชุดที่ 2:</span> ลักษณะของอาการรุนแรง</p>
                    </button>
                </h2>
            </div>
        {# Question2 #}
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container-fluid">
                        
                        <h6>11. ท่านมีอาการ<b>จมูกรับกลิ่นได้น้อยลง หรือไม่สามารถรับรู้กลิ่นเลย</b> อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question11" id="question11" value="1" required>
                            <label class="form-check-label" for="question11">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question11" id="question11" value="0" required>
                            <label class="form-check-label" for="question11">ไม่</label><br><br>
                        </div>
                        <hr>
                        
                        <h6>12. ท่านมีอาการ<b>ลิ้นรับรสชาติได้น้อยลง หรือไม่สามารถรับรสชาติได้เลย</b> อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question12" id="question12" value="1" required>
                            <label class="form-check-label" for="question12">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question12" id="question12" value="0" required>
                            <label class="form-check-label" for="question12">ไม่</label><br><br>
                        </div>
                        <hr>

                        <h6>13. ท่านมีอาการผื่นขึ้นที่ผิวหนังหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question13" id="question13" value="1" required>
                            <label class="form-check-label" for="question13">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question13" id="question13" value="0" required>
                            <label class="form-check-label" for="question13">ไม่</label><br><br>
                        </div>
                        <hr>

                        <h6>14. ท่านมีอาการนิ้วมือหรือนิ้วเท้ามีการเปลี่ยนสี อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question14" id="question14" value="1" required>
                            <label class="form-check-label" for="question14">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question14" id="question14" value="0" required>
                            <label class="form-check-label" for="question14">ไม่</label><br><br>
                        </div>
                        <hr>

                        <h6>15. ท่านมีอาการหายใจลำบาก หรือหายใจติดขัด หรือหายใจถี่ อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question15" id="question15" value="1" required>
                            <label class="form-check-label" for="question15">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question15" id="question15" value="0" required>
                            <label class="form-check-label" for="question15">ไม่</label><br><br>
                        </div>
                        <hr>

                        <h6>16. ท่านมีอาการแน่นหน้าอก หรือเจ็บหน้าอีก อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question16" id="question16" value="1" required>
                            <label class="form-check-label" for="question16">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question16" id="question16" value="0" required>
                            <label class="form-check-label" for="question16">ไม่</label><br><br>
                        </div>
                        <hr>

                        <h6>17. ท่านมีอาการพูดไม่ได้, พูดไม่ถนัด และเคลื่อนไหวร่างกายลำบาก-ไม่ได้ อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question17" id="question17" value="1" required>
                            <label class="form-check-label" for="question17">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question17" id="question17" value="0" required>
                            <label class="form-check-label" for="question17">ไม่</label><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {# SECTION 3 Q18-20 #}
        <div class="card">
            <div class="card-header bg-info" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <p class="text-white my-0"><span class="mx-2">คำถามชุดที่ 3:</span> ประวัติการเดินทางไปสถานที่เสี่ยง และคำถามเกี่ยวกับการใกล้ชิดผู้ป่วย หรือผู้ที่มีประวัติเสี่ยงติดเชื้อ</p>
                    </button>
                </h2>
            </div>

        {# Question3 #}
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container-fluid">
                        <h6>18. ท่านมีประวัติอยู่ใกล้ชิดกับผู้ป่วยที่ติดเชื้อยืนยัน หรือผู้ที่มีประวัติเสี่ยงติดเชื้อ อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question18" id="question18" value="1" required>
                            <label class="form-check-label" for="question18">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question18" id="question18" value="0" required>
                            <label class="form-check-label" for="question18">ไม่</label><br><br>
                        </div>
                        <hr>

                        <h6>19. ท่านมีประวัติไปหรืออยู่ในสถานที่เสี่ยงต่อการแพร่ระบาดเชื้อไวรัส COVID-19 เช่น สนามมวย ปาร์ตี้วันเกิด ผับ หรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question19" id="question19" value="1" required>
                            <label class="form-check-label" for="question19">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question19" id="question19" value="0" required>
                            <label class="form-check-label" for="question19">ไม่</label><br><br>
                        </div>
                        <hr>

                        <h6>20. ท่านมีประวัติไปสถานที่แออัด ชุมชน หรือรถโดยสารสาธารณะ อย่างใดอย่างหนึ่งหรือไม่</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question20" id="question20" value="1" required>
                            <label class="form-check-label" for="question20">ใช่</label><br><br>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="question20" id="question20" value="0" required>
                            <label class="form-check-label" for="question20">ไม่</label><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {# LOCATION #}
    <div class="form-check text-center my-3">
        <input type="hidden" id="lat" name="latitude" value="" >
        <input type="hidden" id="long" name="longitude" value="" >
        <input type="checkbox" value="" onclick="getLocation()" class="form-check-input" required/>
        <label for="getLocation" class="form-check-label">ฉันยอมรับและอนุญาตให้เข้าถึงตำแหน่ง</label>
    </div>

    {# button #}
    <div class="row my-3" style="text-align: center;">
        <div class="col mb-3">
            <button type="submit" class="btn btn-primary btn-block mb-2">ส่งคำตอบ</button>
            <button type="reset" class="btn btn-outline-danger btn-sm">ยกเลิก</button>
        </div>
    </div>

    {# modal #}
    <div class="modal fade hide" id="modalLocationDialogAlert" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">แบบฟอร์มประเมินความเสี่ยง COVID-19 ด้วยตนเองเบื้องต้น</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-justify">
                        <strong class="text-center">แบบฟอร์มนี้ใช้เทคนิคเหมืองข้อมูลในการประเมินความเสี่ยง <u>ไม่ใช่เว็บแพทย์อย่างเป็นทางการ</u></strong>  <br>
                        แบบฟอร์มนี้เป็นการประเมินความเสี่ยงเพียงเบื้องต้นโดยการประเมินนี้มีการเก็บข้อมูลโดยไม่ระบุตัวตนและโปรดอนุญาตให้เว็บไซต์นี้เข้าถึงตำแหน่งของท่านโดยการประเมินนี้มีการเก็บข้อมูลโดยไม่ระบุตัวตนและโปรดอนุญาตให้เว็บไซต์นี้เข้าถึงตำแหน่งของท่าน
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary w-75 mx-auto" data-dismiss="modal" id="modalSubmitBtn" onclick="getLocation()"><b>ยอมรับและยินดีให้เข้าถึงตำแหน่ง</b></button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block script %}
{# script for auto pop-up modal #}
<script>
    $(window).on('load', function() {
        $('#modalLocationDialogAlert').modal('show');
    });

    function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError,{
            enableHighAccuracy: true,
            timeout: 60000,
            maximumAge: 0
        });
    } else { 
        alert("Geolocation is not supported by this browser.");
    }
}

function showPosition(position) {
    document.getElementById("lat").value = position.coords.latitude;
    document.getElementById("long").value = position.coords.longitude;
    console.warn("user latitude: ",position.coords.latitude);
    console.warn("user longitude: ",position.coords.longitude);
}

function showError(error) {
    switch(error.code) {
    case error.PERMISSION_DENIED:
        x.innerHTML = "User denied the request for Geolocation."
        break;
    case error.POSITION_UNAVAILABLE:
        x.innerHTML = "Location information is unavailable."
        break;
    case error.TIMEOUT:
        x.innerHTML = "The request to get user location timed out."
        break;
    case error.UNKNOWN_ERROR:
        x.innerHTML = "An unknown error occurred."
    break;
    }
}
</script>
{% endblock script %}