{% load static %}
{% load humanize %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>COVID-19</title>
</head>
<body>
    {% include '../nav.html' %}
        <div class="container mt-5 pt-3">
        {% include '../_messages.html' %}
            <div class="row mb-1">
                <div class="col">
                    <h2 class="text-center">เว็บประเมินความเสี่ยงโรคไวรัสโคโรนาสายพันธุ์ใหม่โดยเทคนิคการทำเหมืองข้อมูล</h2><br>
                </div>
            </div>
    
            <div class="row">
                {# image #}
                <div class="col-5 mt-5">
                    <div class="row">
                        <div class="col-10">
                            <h4 class="mb-0 text-center my-1">ยอดรวมผู้ติดเชื้อในประเทศไทย</h4>
                            <p class="text-weight-light text-center mb-0">
                                {% comment %}
                                {% if updateDate|naturalday != 'today' %}
                                        อัพเดทล่าสุดเมื่อ: <b>{{ updateDate2 }} น.</b>
                                {% else %}
                                        อัพเดทล่าสุด: <b>{{ updateDate2 }} น. (วันนี้)</b>
                                {% endif %}
                                     อัพเดทล่าสุดเมื่อ <b>6 &nbsp;มิ.ย. 2564 เวลา 12.30 น.</b>
                                {% endcomment %}
                                <span id="UpdateDate"></span>&nbsp;น.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid p-4 h-75 m-0" src="{% static 'img/index.png' %}">
                        </div>
                    </div>
                </div>

                {# dashboard #}
                <div class="col py-3">
                    <div class="mt-5">
                        <div class="mb-5">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-12 mx-auto">
                                            <div class="card text-center text-white bg-primary mb-3">
                                                <div class="card-body">
                                                    <h2 class="card-title">ยอดผู้ติดเชื้อสะสม</h2>
                                                    {% comment %}<h3 class="card-text">{{ confirmedCase|intcomma }} คน</h3>{% endcomment %}
                                                    <h3 class="card-text"><span id="Confirmed"></span> คน</h3>
                                                    <a href="#" class="btn btn-light">
                                                        <span id="NewConfirmed"></span>
                                                        {% comment %}
                                                        {% if newConfirmed > 0 %}
                                                            <span class="text-danger"><b><u>เพิ่มขึ้น</u></b></span> {{ newConfirmed|intcomma }} คน
                                                        {% else %}
                                                            <span class="text-success"><b><u>ลดลง</u></b></span> {{ newConfirmed|intcomma }} คน
                                                        {% endif %}
                                                        {% endcomment %}

                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card text-center text-white bg-warning">
                                            <div class="card-body">
                                                <h5 class="card-title">กำลังรักษา</h5>
                                                {% comment %} <h5 class="card-text">{{ hospitalizedCase|intcomma }} คน</h5> {% endcomment %}
                                                <h5 class="card-text"><span id="Hospitalized"></span> คน</h5>
                                                <a href="#" class="btn btn-light">
                                                    <span id="NewHospitalized"></span>
                                                    {% comment %}
                                                    {% if newHospitalized > 0 %}
                                                        <span class="text-danger"><b><u>เพิ่มขึ้น</u></b></span> {{ newHospitalized|intcomma }}  คน
                                                    {% elif newHospitalized == 0 %}
                                                        <span class="text-warning"><b><u>คงที่</u></b></span> {{ newHospitalized|intcomma }}  คน
                                                    {% else %}
                                                        <span class="text-success"><b><u>ลดลง</u></b></span> {{ newHospitalized|abs }} คน
                                                    {% endif %}
                                                    {% endcomment %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col">
                                    <div class="card">
                                        <div class="card text-center text-white bg-success">
                                            <div class="card-body">
                                                <h5 class="card-title">รักษาหายแล้ว</h5>
                                                {% comment %} <h5 class="card-text">{{ recoveredCase|intcomma }} คน</h5> {% endcomment %}
                                                <h5 class="card-text"><span id="Recovered"></span> คน</h5>
                                                <a href="#" class="btn btn-light">
                                                    <span id="NewRecovered"></span>
                                                    {% comment %} 
                                                    {% if newRecovered > 0 %}
                                                        <span class="text-success"><b><u>เพิ่มขึ้น</u></b></span> {{ newRecovered|intcomma }} คน
                                                    {% else %}
                                                        {{ newRecovered|intcomma }} คน
                                                    {% endif %}
                                                     {% endcomment %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col">
                                    <div class="card">
                                        <div class="card text-center text-white bg-danger">
                                            <div class="card-body">
                                                <h5 class="card-title">เสียชีวิต</h5>
                                                {% comment %} <h3 class="card-text">{{ confirmedCase|intcomma }} คน</h3> {% endcomment %}
                                                <h5 class="card-text"><span id="Deaths"></span> คน</h5>
                                                <a href="#" class="btn btn-light"><span id="NewDeaths"></span> คน</a>
                                                {% comment %}
                                                {% if newDeaths > 0 %}
                                                    <a href="#" class="btn btn-light"><span class="text-danger"><b><u>เพิ่มขึ้น</u></b></span> {{ newDeaths|intcomma }} คน</a>
                                                {% elif newDeaths == 0 %}
                                                    <a href="#" class="btn btn-light"><span class="text-danger"><b><u>คงที่</u></b></span> {{ newDeaths|intcomma }} คน</a>
                                                {% else %}
                                                    <span class="btn btn-light text-success"><b><u>ลดลง</u></b></span> {{ newDeaths|abs }} คน
                                                {% endif %}
                                                {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <div class="card bg-dark py-2">
                                        <a class="btn btn-block text-white" href="{% url 'covid:assessment' %}">
                                            ทำแบบประเมินความเสี่ยง
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.get('https://covid19.th-stat.com/json/covid19v2/getTodayCases.json').then((result) => {
        // Date
        document.getElementById("UpdateDate").innerHTML = result.data["UpdateDate"];
        // Total Case
        document.getElementById("Confirmed").innerHTML = result.data["Confirmed"];
        document.getElementById("Hospitalized").innerHTML = result.data["Hospitalized"];
        document.getElementById("Recovered").innerHTML = result.data["Recovered"];
        document.getElementById("Deaths").innerHTML = result.data["Deaths"];
        // Update Case
        document.getElementById("NewConfirmed").innerHTML = result.data["NewConfirmed"];
        document.getElementById("NewHospitalized").innerHTML = result.data["NewHospitalized"];
        document.getElementById("NewRecovered").innerHTML = result.data["NewRecovered"];
        document.getElementById("NewDeaths").innerHTML = result.data["NewDeaths"];
    }).catch((err) => {
        console.log(err);
    });
</script>
</html>