{% extends '../base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}

{% block content %}
{% comment %} {% include '../_messages.html' %} {% endcomment %}
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="row mt-5 pt-5 w-100 mx-auto">
            <div class="col-4 mx-2">
                <img src="{% static 'img/doctor-suit-full.png' %}"  class="img-fluid">
            </div>
            <div class="col-6 offset-1 align-self-center">
                <div class="card pb-2">
                    <div class="card-body">
                        <div class="font">
                            <h3 class="text-center">เข้าสู่ระบบ</h3>
        
                            {% if loginForm %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {% comment %} {{ loginForm|crispy }}
                                    <button type="submit" class="btn btn-primary btn-block">เข้าสู่ระบบ</button> {% endcomment %}

                                    {# customize forms login for thai language #}
                                    {% if messages %}
                                        {% if request.session.msg_type %}
                                            <ul class="alert alert-{{ request.session.msg_type }}">
                                                {% for message in messages %}
                                                    <li class="mx-3 text-alignment">{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <ul class="alert alert-success">
                                                {% for message in messages %}
                                                    <li class="mx-3 text-alignment">{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                    <div class="form-group">

                                        <label for="{{ loginForm.username.id_for_label }}">ชื่อผู้ใช้ :</label>
                                        {{ loginForm.username }}
                                        {{ loginForm.username.errors }}

                                    </div>
                                    <div class="form-group">

                                        <label for="{{ loginForm.password.id_for_label }}">รหัสผ่าน :</label>
                                        {{ loginForm.password }}
                                        {{ loginForm.password.errors }}
                                    </div>
                                    <button type="submit" class='btn btn-primary btn-block'>เข้าสู่ระบบ</button>
                                </form>

                                <a href="{% url 'covid:register' %}" class="text-info d-block text-center my-3">สมัครสมาชิก</a>
                            {% else %}
                                <h1>เกิดปัญหาอะไรสักอย่างที่ทำให้ Login Form ไม่ส่งมา เช็คที่ views</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock content %}