{% extends '../base.html' %}

{% load static %}
{% load mathfilters %}

{% block title %}Prediction{% endblock title %}
{% block content %}
    <div class="container card py-4">
        <div class="row d-flex justifiy-content-around align-items-stretch">
            <div class="img  border-right">
                <div class="col mt-5">
                    <img src="{% static 'img/doctor-suit.png' %}"  width="400" height="400">
                </div>
            </div>
            
            <div class="col px-3 pt-3">
                <div class="font mt-4">
                    <h4 class='text-center'>ผลการประเมินความเสี่ยง COVID-19 ด้วยตนเองเบื้องต้น</h4>
                    <p class='text-center mb-4'>ความเสี่ยงของท่านอยู่ในเกณฑ์ : </p>

                    {% if result == 2 %}
                        <strong class="text-center text-danger">ท่านมีความเสี่ยงระดับ 2 ({{ score|mul:100|floatformat:1 }}%)</strong>
                    {% elif result == 1 %}
                        <p class="text-center text-warning">ท่านอาจมีความเสี่ยงในติดเชื้อ COVID <strong>**โปรดตรวจที่โรงพยาบาลเพื่อยืนยันอีกครั้ง**</strong> </p>
                    {% else %}
                        <p class="text-center text-success">ท่านไม่มีความเสี่ยงติดเชื้อ COIVD <strong>**โปรดตรวจที่โรงพยาบาลเพื่อยืนยันอีกครั้ง** </strong></p>
                    {% endif %}
                    

                    <div class="progress mb-3" style="height: 30px;">
                        {% if result == 2 %}
                            <div class="progress-bar bg-danger" role="progressbar" style="width:{{ riskType.2 }}%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">ไม่มีความเสี่ยง</div>
                        {% elif result == 1 %}
                            <div class="progress-bar bg-warning" role="progressbar" style="width:{{ riskType.1 }}%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">มีความเสี่ยง</div>
                        {% else %}
                            <div class="progress-bar bg-success" role="progressbar" style="width:{{ riskType.0 }}%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">ไม่มีความเสี่ยง</div>
                        {% endif %}
                    </div>

                    <div class="container my-4 border-bottom">
                        {% if geomap %}
                            <p class="font-weight-normal"><b>บริเวณพื้นที่:</b> {{ geomap.0 }}</p>
                            <p class="font-weight-normal"><b>อำเภอ:</b> {{ geomap.1 }}</p>
                            <p class="font-weight-normal"><b>จังหวัด:</b> {{ geomap.2 }}</p>
                            <p class="font-weight-normal"><b>ประเทศ:</b> {{ geomap.3 }}</p>
                        {% endif %}
                    </div>

                    {% comment %} <div class="icon">
                        <i class="fa fa-caret-up" style="font-size:60px"></i>
                    </div> {% endcomment %}

                    <div class="container d-flex justify-content-between">
                        <form action="{% url 'covid:saveresult' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="u_id" maxlength="10" required id="id_u_id" value="{{ user.id }}">
                            <input type="hidden" name="prediction_result" maxlength="10" required id="id_prediction_result" value="{{ result }}">
                            <button type="submit" class="btn btn-primary mx-4">บันทึกผลการประเมิน</button>
                            <a href="{% url 'covid:home' %}" class="btn btn-dark">ไม่บันทึก</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}