{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}

{% block content %}
{% comment %} <div class="container"> {% endcomment %}
    <div class="row mb-2">
        <div class="col-5 d-flex flex-column justify-content-center">
            <img src="{% static 'img/doctor-suit.png' %}" class="img-fluid">
        </div>
        
        <div class="col-6 offset-1">
            <div class="container">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="font">
                            <div class="row">
                                <div class="col mt-3">
                                    <h3 class="text-center">สมัครสมาชิก</h3>

                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {% comment %} {{ form|crispy }} {% endcomment %}

                                        <div class="row mb-2">
                                            <div class="col-6">
                                                {{ form.first_name.label }}
                                                {{ form.first_name }}
                                            </div>
                                            <div class="col-6">
                                                {{ form.last_name.label }}
                                                {{ form.last_name }}
                                            </div>
                                        </div>

                                        <div class="row mb-2">
                                            <div class="col">
                                                {{ form.email.label }}
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        
                                        <div class="row mb-2">
                                            <div class="col">
                                                {{ form.username.label }}
                                                {{ form.username }}
                                            </div>
                                        </div>
                                        
                                        <div class="row mb-2">
                                            <div class="col">
                                                {{ form.password1.label }}
                                                {{ form.password1 }}
                                                <ul>
                                                    {{ form.password1.help_text }}
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <div class="row mb-2">
                                            <div class="col">
                                                {{ form.password2.label }}
                                                {{ form.password2 }}
                                                <ol>
                                                    {{ form.password2.help_text }}
                                                </ol>
                                            </div>
                                        </div>

                                        <div class="row mb-2 text-center">
                                            <div class="col mb-1">
                                                <button class="btn btn-info btn-block mb-3" type="submit">ยืนยัน</button>
                                                <a href="{% url 'covid:home' %}" button type="submit" class="btn btn-sm btn-outline-danger px-5">ยกเลิก</a button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>  
                        </div>  
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}